<br><br><br>

<div class="box">

    <form action="" (ngSubmit)="createRecord(recordForm)" #recordForm="ngForm">

        <h3>Add New Record</h3>

        <br><br>
    
        <p>Patient Name</p>
        <input type="text" name="patient_name" ngModel>
    
        <br><br>
    
        <p>Sex</p>
        <input type="text" name="patient_sex" ngModel>
    
        <br><br>
    
        <p>Attending Physician</p>
        <input type="text" name="attending_physician" ngModel>
    
        <br><br>
    
        <p>Last Visit</p>
        <input type="date" name="last_visit">
    
        <br><br>
    
        <p>Diagnosis</p>
        <input type="text" name="diagnosis" ngModel>
    
        <br><br>
    
        <p>Medicine</p>
        <input type="text" name="medicine" ngModel>
    
        <br><br>
    
        <p>Treatment Plan</p>
        <input type="text" name="treatment_plan">
    
        <br><br>
    
        <p>Next Appointment</p>
        <input type="date" name="next_visit" ngModel>
    
        <br><br><br>
    
        <button type="submit">ADD</button>

    </form>

   

</div>