
<section>
    <br><br>
    <h2>Need Help?</h2>

    <br><br>

    <h3>Contact Us:</h3>

    <ul>
        <li>
            Email: Lorenipsumgmail.com
        </li>
        <li>
            Address: 1311 Cherry Road, Lorem Ipsum P.O. 
        </li>
        <li>
            Telephone Number: 244466666
        </li>
        
    </ul>
</section>

<br><br><br><br>

<div class="map">
    <h2>Come Visit Us</h2>

    <br><br><br><br>

    <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d278573.81550121726!2d-4.332369409453271!3d56.94266862286999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sscottish%20highlands%20map!5e0!3m2!1sen!2sjm!4v1715693558343!5m2!1sen!2sjm" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

<br><br><br><br><br><br><br><br>