.box{
    margin: auto;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    font-size: 25px;
    text-align: center;
    background-color: #9EB984;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

.box a{
    color: white;
}
