<div class="hero">
    <span>
        <h2>
            About Us
        </h2>
       </span>
</div>

<br><br><br><br><br>

<div class="box">

    <br><br>

    <h2>Brief History</h2>

    <br><br><br>

    <p>
        Lorem ipsum dolor sit amet. Ut aperiam libero qui aspernatur perspiciatis
        non  sint expedita non perspiciatis rerum sed aliquid quae rem maxime
        nostrum aut officiis quia. Ea quia repudiandae ut autem delectus est
        voluptatem suscipit? Lorem ipsum dolor sit amet. Ut aperiam libero 
        qui aspernatur perspiciatis. Lorem ipsum dolor sit amet. Ut aperiam libero 
        qui aspernatur perspiciatis non  sint expedita non perspiciatis rerum sed aliquid quae rem maxime
        nostrum aut officiis quia. Ea quia repudiandae ut autem delectus est
        voluptatem suscipit? Lorem ipsum dolor sit amet. Ut aperiam libero 
        qui aspernatur perspiciatis

        <br> <br> 
        
        Lorem ipsum dolor sit amet. Ut aperiam libero qui aspernatur perspiciatis
        non  sint expedita non perspiciatis rerum sed aliquid quae rem maxime
        nostrum aut officiis quia. Ea quia repudiandae ut autem delectus est
        voluptatem suscipit? Lorem ipsum dolor sit amet. Ut aperiam libero 
        qui aspernatur perspiciatis. Lorem ipsum dolor sit amet. Ut aperiam libero 
        qui aspernatur perspiciatis non  sint expedita non perspiciatis rerum sed aliquid quae rem maxime
        nostrum aut officiis quia. Ea quia repudiandae ut autem delectus est
        voluptatem suscipit? Lorem ipsum dolor sit amet. Ut aperiam libero 
        qui aspernatur perspiciatis
        <br> <br> 
        
        Lorem ipsum dolor sit amet. Ut aperiam libero qui aspernatur perspiciatis
        non  sint expedita non perspiciatis rerum sed aliquid quae rem maxime
        nostrum aut officiis quia. Ea quia repudiandae ut autem delectus est
        voluptatem suscipit? Lorem ipsum dolor sit amet. Ut aperiam libero 
        qui aspernatur perspiciatis. Lorem ipsum dolor sit amet. Ut aperiam libero 
        qui aspernatur perspiciatis non  sint expedita non perspiciatis rerum sed aliquid quae rem maxime
        nostrum aut officiis quia. Ea quia repudiandae ut autem delectus est
        voluptatem suscipit? Lorem ipsum dolor sit amet. Ut aperiam libero 
        qui aspernatur perspiciatis
    </p>
</div><

<br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<section>
    ><h2>
         The Goal
     </h2>

     <br><br>

     <p>
         Lorem ipsum dolor sit amet. Ut aperiam libero qui aspernatur perspiciatis <br>
         non  sint expedita non perspiciatis rerum sed aliquid quae rem maxime <br>
         nostrum aut officiis quia. Ea quia repudiandae ut autem delectus est <br>
         voluptatem suscipit? Lorem ipsum dolor sit amet.
     </p>
 </section>

 <br><br><br><br><br><br>
