<div class="hero">
    <span>
     <h2>
         Welcome <br> to Greenhaven Psychiatric
     </h2>
     <p>A place where you're mental health matters</p>
    </span>
    <br>
    <button> Contact Us </button>
 </div>
 <br><br><br>

 <div class="services">
     <h2>Our Services</h2>
     <br><br>

    <div class="row">
         <div class="column">
           <div class="card1">..</div>
         </div>
         <div class="column">
           <div class="card">..</div>
         </div>
         <div class="column">
           <div class="card">..</div>
         </div>
       </div>
 </div>
 <br><br><br><br>

 <section>

     <div class="parent">
         <img class="img1" src="B323B45E-CEC2-4E8F-B36E-B70328792D24.jpg" alt="">
         <img class="img2" src="Tollymore-Forest-Park.jpg" alt="">

         <h2>
             HYDE PARK
         </h2>

         <br>

         <p>
             Lorem ipsum dolor sit amet. Ut aperiam libero qui aspernatur perspiciatis <br>
             non  sint expedita non perspiciatis rerum sed aliquid quae rem maxime <br>
             nostrum aut officiis quia. Ea quia repudiandae ut autem delectus est <br>
             voluptatem suscipit?
         </p>

         <br><br><br><br><br><br>

         <p class="second-para">
             Lorem ipsum dolor sit amet. Ut aperiam libero qui aspernatur perspiciatis <br>
             non  sint expedita non perspiciatis rerum sed aliquid quae rem maxime <br>
             nostrum aut officiis quia. Ea quia repudiandae ut autem delectus est <br>
             voluptatem suscipit?
         </p>
     
     </div> 
 </section>

 <br><br><br><br>

 <div class="volunteer">
     <img src="Header-male-volunteer-in-green-jacket.jpg" alt="">

     <h2>Wanna Be A Volunteer?</h2>
     <h4>Join Us Today!</h4>
     <br>
     <p>
         Lorem ipsum dolor sit amet. Ut aperiam libero qui aspernatur perspiciatis <br>
         non  sint expedita non perspiciatis rerum sed aliquid quae rem maxime <br>
         nostrum aut officiis quia. Ea quia repudiandae ut autem delectus est <br>
         voluptatem suscipit?
     </p>
     <br>
     <button> Join Us </button>
 </div>

 <br><br><br><br>


 