<br><br><br>

<table>
    <thead>
        <th>Patient I.D.</th>
        <th>Patient Name</th>
        <th>Sex</th>
        <th>Attending Physician</th>
        <th>Last Visit</th>
        <th>Diagnosis</th>
        <th>Medicine</th>
        <th>Treatment Plan</th>
        <th>Next Appointment</th>
        <th>Actiion</th>
    </thead>
    <tbody>
        <tr *ngIf="hasData">
            <td> {{records['id']}} </td>
            <td> {{records['patient_name']}} </td>
            <td> {{records['patient_sex']}} </td>
            <td> {{records['attending_physician']}} </td>
            <td> {{records['last_visit']}} </td>
            <td> {{records['diagnosis']}} </td>
            <td> {{records['medicine']}} </td>
            <td> {{records['treatment_plan']}} </td>
            <td> {{records['next_visit']}} </td>
            <td>
                <a routerLink="/update/{{records['id']}}" id="update">Update</a>  <br><br>
                <a routerLink="/delete{{records['id']}}" id="delete">Delete</a>
            </td>
        </tr>
    </tbody>
</table>

<br><br>

<button><a routerLink="/records">Back</a></button>


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>