<br><br><br><br><br>

<form (ngSubmit)="login2(loginForm)" #loginForm="ngForm">
    <div class="box">
        <h3>Log In</h3>
    
        <br><br><br><br>
    
    
       <p> Username</p> <br>
    
        <input type="text" name="email" ngModel >
    
        <br><br><br>
    
       <p> Password</p> <br>
    
        <input type="password" name="password" ngModel> <br><br><br>
    
    
    
        <button type="submit" routerLink="profile">Login</button>
    </div>
</form>



<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
