/* You can add global styles to this file, and also import other style files */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}